*.aux
*.bcf
*.log
*.out
*.run.xml
*.synctex.gz
*.bbl
*.blg
*~
.Rproj.user
/.Rhistory
/R/*.q
/doc/analysis/*.html
/doc/analysis/*.md
/doc/analysis/*.pdf
/doc/paper/Bonds_and_Battles.pdf
/doc/paper/Bonds_and_Battles.tex
/doc/paper/Pricing_the_Costly_Lottery.pdf
/filehashdb.old/
/filehashdb/*
/library
/rdepends.inc
auto/
