*.aux
*.bcf
*.log
*.out
*.run.xml
*.synctex.gz
*.bbl
*.blg
*~
*.fls
*.fdb_latexmk
.Rproj.user
.Rhistory
.RData
/filehashdb/*
/rdepends.inc
auto/
/doc/paper/figure/
/filehashdb.inc
cache/
_region_.*
*_cache
/doc/paper/bibliographypath.tex
